.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0d6efd, #6610f2);
}

.auth-card {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* DARK MODE */
body.dark .auth-card {
  background: #1e1e1e;
  color: white;
}
